@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'TrClassicFont';
  src: url(./assets/fonts/trClassicFont.ttf) format('truetype');
}

:root {
  --backgroundColor: #FAFAEF;
  --primary: #693720;
  --primary-lighter: #996241;
  --primary-darker: #2F190E;
  --secondary: #ECA158;
  --secondary-lighter: #F3C291;
  --tertiary: #64A671;
  --highlight: #7A302A;

  --main-font: 'Raleway', sans-serif;
  --title-font: 'TrClassicFont', cursive;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--primary-darker);
  scroll-margin-top: 6rem;
  font-family: var(--main-font);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--title-font);
}

section {
  width: 100%;
  background-color: var(--backgroundColor);

}

section>article {
  margin: auto;
  padding: 4rem 3rem;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;

  h2 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.15rem;
}

a {
  text-decoration: none;
  color: var(--primary-lighter);
  font-family: var(--title-font);
  letter-spacing: 1px;
  font-size: 1.3rem;
  transition: all 0.3s ease-out;

  &:hover {
    text-shadow: 0 0 0.65rem var(--primary-lighter);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

/* @media (prefers-color-scheme: light) {} */

@keyframes byeBoobsTextDisplay {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-25%);
  }

  40% {
    opacity: 1;
    transform: translateX(20px) skewX(-20deg);
    filter: blur(0);
  }

  60% {
    opacity: 1;
    transform: translateX(20px) skewX(-20deg);
    filter: blur(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0) skewX(0);
    top: 40%;
    left: 0;
    right: 0;
    filter: blur(0);
  }
}

@keyframes byeBoobsTextDisappearance {
  0% {
    opacity: 1;
    transform: none;
    filter: blur(0);
    left: 0;
    right: 0;
  }

  40% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(25%);
  }

  100% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(25%);
  }
}

@keyframes imageGradientToRight {
  100% {
    background-position-x: -100%;
  }
}

@keyframes imageGradientToLeft {
  100% {
    background-position-x: 100%;
  }
}

@keyframes textDisplay {
  100% {
    transform: translateY(0);
  }
}